.pomodoro-container {
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
  }
  
  .timer {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #162A2B;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  .controls button {
    margin: 0 10px;
    padding: 6px 16px;
    font-size: 1rem;
  }
  
  .settings {
    position: relative;
    top: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .play-pause button {
    padding: 6px 16px;
    font-size: 1rem;
  }
  