xhtml, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.focus-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}
