.background-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .background-button img {
    width: 100px; /* Adjust the width of the image as needed */
    height: auto;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
  }
/*   
  .background-button img:hover {
    transform: scale(1.1);
  }
   */