.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  height: 100vh;
  padding-left: 50px;
  overflow: hidden;
  background-color: #F4EFE6;
}

.header {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  color: #162A2B;
}

.home-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.home-caption {
  font-size: 1.2em;
  margin-bottom: 4rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.blur {
  filter: blur(5px);
}